<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script type='text/javascript'   src="/all.min.js"></script>
  <script type='text/javascript'   src="/bootstrap.min.js"></script>
  <script type='text/javascript'   src="/scripts.js"></script>
  <link rel="stylesheet" href="/bootstrap.min.css">

  <title>Catalog</title>
</head>

<body>

  <button id = "addbutton" type="button" class="btn btn-primary" onclick="AddToTable()"> ADD </button>
  <button id = "removebutton" type="button" class="btn btn-danger" onclick="RemoveFromTable()"> DEL </button>
  <button id = "updatebutton" type="button" class="btn btn-secondary" onclick="UpdateTable()"> APL </button>

  <table id = "primarytable" class="table-primary">
    <tr>
      <th>Номер записи</th>
      <th>Сервер</th>
      <th>Пользователь</th>
      <th>Звук</th>
      <th>Активен</th>
      <th>Куплен</th>
    </tr>
    {{range . }}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.Guildid}}</td>
      <td>{{.Userid}}</td>
      <td>{{.Filename}}</td>
      <td>{{.Active}}</td>
      <td>{{.Bought}}</td>
    </tr>
    {{end}}
  </table>

</body>

</html>